@import url(http://fonts.googleapis.com/css?family=Leckerli+One|Vast+Shadow|Oxygen);


body {
  padding-top: 20px;
  font-family: 'Oxygen', cursive;
}

p {
  font-size: 12pt;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  text-align: center;
}

.address{
  text-align: center;
  position: bottom;
  color: white;
}

.table {
  text-align: left;
  font-size: 12pt;
  margin: auto;
  }
.td{
  width: 200px;
}
.menu{
  width: 100%;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-image: url(http://baileysrestaurants.com/range/files/2013/06/Burger-window.jpg);
  background-position: center;
  background-size: 250%;
  background-repeat: none;
  min-height: 425px;

}
/*.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}*/

.round{
  margin-top: 30px;
  width: 100%;
  padding: 15%
}

.logo{
  width: 100%;
  opacity: .9;
}

/*.bannerType{
  font-size: 10px;
  padding: 10px;
  font-family: 'Vast Shadow', cursive;
}*/


/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #f5f5f5), to(#e5e5e5));
  background-image:         linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

.nav-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
